#carrossel1-Slides & #carrossel2-Slides & #carrossel3-Slides & #carrossel4-Slides{
    width: 80%;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

hr{
    width: 80%;
    background-color: rgb(42,129,100);
}

body{
    background-color: rgb(42,129,100);
}

